.container-challenge
  display: flex
  flex-direction: column
  align-items: center

.view-wrapper
  display: flex
  justify-content: space-between
  width: 32em
  overflow: hidden
  p
    font-size: 11em

.img-responsive
  width: 12em
  height: 12em

.image-name
  a
    font-size: 3em
    margin: 0
    padding: 0

.test-wrapper
  width: 28em
  text-align: center
  border: 1px solid #b7b7b7
  border-radius: 3px
  margin-top: 4em
  margin-bottom: 4em

  span
    font-size: 2em

.letters-wrapper
  display: flex
  flex-flow: wrap
  justify-content: center
  width: 27em
  border: 1px solid #00b8ff
  border-radius: 3px
  padding: 0.5em

.active-letter
  text-decoration: underline

.letter-element
  margin: 0.3em
  height: 1.6em
  width: 1.6em
  div
    outline: none
    cursor: pointer
