/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

html, body
  font-family: Roboto, "Helvetica Neue", sans-serif
  font-size: 24px

@media (max-width: 1024px)
  html, body
    font-size: 24px

@media (max-width: 960px)
  html, body
    font-size: 22px
  .container-challenge
    margin-top: 5em

@media (max-width: 768px)
  html, body
    font-size: 16px
  .container-challenge
    margin-top: 10em

@media (max-width: 600px)
  html, body
    font-size: 12px
  .container-challenge
    margin-top: 13em

@media (max-width: 450px)
  html, body
    font-size: 10px
  .container-challenge
    margin-top: 10em

@media (max-width: 320px)
  html, body
    font-size: 8px
  .container-challenge
    margin-top: 13em

.letter-vowel
  color: #d62d2d

.letter-consonant
  color: blue
